<a href="https://colab.research.google.com/github/NikhithaVarma/Guvi-Task6/blob/main/Assignment4(Boston_Housing_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To implement a linear regression with regularization via gradient descent on Boston housing dataset

In [ ]:
from sklearn.datasets import load_boston
dataset  = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
type(dataset)

sklearn.utils.Bunch

In [ ]:
print(dataset.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [ ]:
dataset.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [ ]:
import pandas as pd
X = pd.DataFrame(dataset.data,columns = dataset.feature_names) #features
X.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
dataset.data.shape

(506, 13)

In [ ]:
Y = pd.DataFrame(dataset.target,columns = ["Actual"]) #Output values
Y.shape

(506, 1)

In [ ]:
from sklearn.linear_model import SGDRegressor
model  = SGDRegressor()

In [ ]:
from sklearn.model_selection import KFold,cross_val_score
kf = KFold(n_splits = 5)
import numpy as np
np.array(cross_val_score(model,X, Y,cv = kf,scoring = 'r2')).mean()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-1.967086958035577e+26

In [ ]:
X.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
CHAS,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700

In [ ]:
#Standardization
from sklearn.preprocessing import StandardScaler
fun = StandardScaler()
std_X = fun.fit_transform(X)

In [ ]:
pd.DataFrame(std_X,columns = dataset.feature_names).describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,-5.616939e-17,1.00099,-0.419782,-0.410970,-0.390667,0.007397,9.933931
ZN,506.0,6.319056e-17,1.00099,-0.487722,-0.487722,-0.487722,0.048772,3.804234
INDUS,506.0,-3.145486e-15,1.00099,-1.557842,-0.867691,-0.211099,1.015999,2.422565
CHAS,506.0,-2.106352e-17,1.00099,-0.272599,-0.272599,-0.272599,-0.272599,3.668398
NOX,506.0,2.752300e-15,1.00099,-1.465882,-0.913029,-0.144217,0.598679,2.732346
RM,506.0,-1.150770e-14,1.00099,-3.880249,-0.568630,-0.108466,0.482768,3.555044
AGE,506.0,-1.137430e-15,1.00099,-2.335437,-0.837448,0.317382,0.906798,1.117494
DIS,506.0,7.582867e-16,1.00099,-1.267069,-0.805688,-0.279323,0.662371,3.960518
RAD,506.0,5.616939e-17,1.00099,-0.982843,-0.637962,-0.523001,1.661245,1.661245
TAX,506.0,5.616939e-17,1.00099,-1.313990,-0.767576,-0.464673,1.530926,1.798194
PTRATIO,506.0,-1.022283e-14,1.00099,-2.707379,-0.488039,0.274859,0.806576,1.638828
B,506.0,8.593916e-15,1.00099,-3.907193,0.205072,0.381187,0.433651,0.441052
LSTAT,506.0,-5.897786e-16,1.00099,-1.531127,-0.799420,-0.181254,0.603019,3.548771

In [ ]:
np.array(cross_val_score(model,std_X, Y,cv = kf,scoring = 'r2')).mean()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.40999557139245607

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
np.array(cross_val_score(model,std_X, Y,cv = kf,scoring = 'r2')).mean()

0.3532759243958824

In [ ]:
from sklearn.model_selection import train_test_split
xtr, xtest,ytr,ytest = train_test_split(std_X, Y,test_size = 0.2,random_state = 1)

In [ ]:
model = SGDRegressor(max_iter=1000,tol = 0.00000001)
model.fit(xtr,ytr)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(tol=1e-08)

In [ ]:
model.n_iter_

45

In [ ]:
from sklearn.model_selection import GridSearchCV
params = {'loss':['squared_error','huber'],
          'tol':[0.1,0.01],
          'alpha':[0.1,0.01],
          'penalty':['l1','l2','elasticnet'],
          'learning_rate':['constant','invscaling','optimal','adaptive'],
          'eta0':[0.01,0.001]
         }

model = SGDRegressor()
gcv = GridSearchCV(model,param_grid = params,cv = 2,scoring = 'neg_mean_absolute_error')
gcv.fit(std_X,Y)

In [ ]:
gcv.best_params_

{'alpha': 0.01,
 'eta0': 0.01,
 'learning_rate': 'optimal',
 'loss': 'huber',
 'penalty': 'l2',
 'tol': 0.01}

In [ ]:
gcv.best_score_

-3.8323355708483695

In [ ]:
std_X[:,[0,1]].shape

(506, 2)

In [ ]:
inp = std_X[:,[0,1]]

In [ ]:
X.corr() #Correlation --> [-1,1]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000

In [ ]:
model = SGDRegressor(max_iter=1000,tol = 0.00000001,early_stopping = True,validation_fraction=0.2)
model.fit(xtr,ytr)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(early_stopping=True, tol=1e-08, validation_fraction=0.2)

In [ ]:
model.n_iter_

17

In [ ]:
model.predict(xtest)

array([31.07499361, 28.30049769, 18.06545504, 22.01900681, 19.38211353,
       20.62244391, 30.76095004, 18.55379129, 24.10698183, 26.93861462,
       26.99368375, 29.17009641, 21.56806715, 26.21697003, 23.27411508,
       20.63575756, 17.52737189, 37.83539013, 30.23474574,  9.82354984,
       21.01469528, 17.2954167 , 25.43313816, 24.94890061, 30.80454637,
       10.72435852, 13.96096306, 18.39842597, 36.22089316, 14.84303201,
       23.04322655, 14.46968933, 41.27945106, 18.67673774, 23.29744579,
       20.76702669, 18.04977621, 27.6712697 ,  9.53386155, 20.0129605 ,
       25.5766939 , 21.59313344, 29.10806538, 15.97502786, 19.35230362,
       14.67831018, 39.91453072, 18.52378095, 26.04278756, 20.2817339 ,
       25.16879158, 24.43950883, 25.46509626, 26.78139638,  6.46224737,
       24.14147697, 10.86805081, 26.68846174, 17.29737478, 35.67343588,
       20.03234718, 27.39777209, 16.70948405, 18.23968755, 10.34885297,
       31.60691358, 36.62209695, 24.38513816, 24.43510905, 25.42539175,
       23.72795402,  7.45485104, 16.59047953, 20.9510113 , 20.82557485,
       21.46253916, 34.03207037, 28.1638883 , 26.61967477, 33.06682225,
       19.16521287, 24.47886906, 34.56831762, 13.7522589 , 22.3237868 ,
       30.12110059, 17.51666246, 24.58140968, 19.66977779, 17.60747056,
       27.07804885, 41.55253011, 16.27088786, 23.63855002, 15.51597137,
       22.51756798, 23.08030121, 27.90718497, 36.65355885, 20.72524335,
       16.79157118, 18.34929367])

In [ ]:
from sklearn.metrics import r2_score,mean_absolute_error
r2_score(ytest,model.predict(xtest))

0.7565220476687919

In [ ]:
mean_absolute_error(ytest,model.predict(xtest))

3.8084658966112697